html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: url(restaurant-table-interior-modern-style-free-stock-photos-images-hd-wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'CaladeaRegular';
}

h2 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'CaladeaRegular';
    font-size: 20px;
}

h3 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'CaladeaRegular';
    font-size: 15px;
}

p {
    margin: 0px;
    padding: 0px;
    font-family: 'CaladeaRegular';
    font-size: 15px;
    color: grey
}
input:before {
    content: "$";
    position: absolute;
  }

.wrapper {
    background-color: white;
    width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    height: 550px;
    box-shadow: 5px 5px 5px black;
}

/* Head */

#Logo {
    margin: 10px auto;
    width: 100%;
    border-bottom: 2px solid rgb(156, 153, 153);
}

#adress {
    text-align: center;
}

/* order Information */
#Data {
    display: grid;
    margin: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "order tableNum"
        "eatIn  Time"
        "Server Date";
}

#order {
    grid-area: order;
}

#tableNum {
    grid-area: tableNum;
    text-align: right;
}

#eatIn {
    grid-area: eatIn;
}

#Time {
    grid-area: Time;
    text-align: right;
}

#Server {
    grid-area: Server;
}

#Date {
    grid-area: Date;
    text-align: right;
}

/* Order breakdown */

#orderInfo {
    display: grid;

    margin: 30px 20px 20px 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 60px;
    grid-template-areas:
        "appetizer appetizerCost"
        "mainCourse  mainCourseCost"
        "dessert dessertCost"
        "drink drinkCost";
}

#appetizer {
    grid-area: appetizer;
    margin: 5px;
}

#appetizerCost {
    grid-area: appetizerCost;
    width: 60px;
    margin: 5px;
    text-align: right;
}

#mainCourse {
    grid-area: mainCourse;
    margin: 5px;
}

#mainCourseCost {
    grid-area: mainCourseCost;
    width: 60px;
    margin: 5px;
    text-align: right;
}

#dessert {
    grid-area: dessert;
    margin: 5px;
}

#dessertCost {
    grid-area: dessertCost;
    width: 60px;
    margin: 5px;
    text-align: right;
}
#drink {
    grid-area: drink;
    margin: 5px;
}

#drinkCost {
    grid-area: drinkCost;
    width: 60px;
    margin: 5px;
    text-align: right;
}

hr {
    width: 25%;
    margin-top: 20px;
    margin-right: 10px;
    border: 1px dashed grey;
}

/* Totals */
#totals {
    display: grid;
    margin: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 50px;
    text-align: right;
}

#subTotal {
    text-align: right;
    padding-right: 10px;
}

#subTotalNum {}

#Tax {
    padding-right: 10px; 
}

#taxNum {}

#Tip {
    padding-right: 10px;
}

#tipInput {
    width: 30px;
}

#TipNum {}

#Total {
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
}
#totalNum {}
